@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:wght@400;500;600&family=Playfair+Display:wght@700&family=Cormorant+Garant:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2a2d35;
  border-radius: 10px;
}

::placeholder {
  color: #4b5563;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
  cursor: pointer;
}

select option {
  background: #1a1d24;
  color: #e8e3d5;
}

@layer utilities {
  .perspective-1200 {
    perspective: 1200px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .writing-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}
